@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --main-color: #000000;
  --rgba-color: rgba(255,255,255,0.5);
  --streng-black:#212121;
  --p-color: #757575;
  --team-color: #f5f4fa;
  --ground-color: #2f303a;
  --fon-color: #ffffff;
  --second-color: #2196F3;
  --border-color: #eeeeee;
  --background-we: #f5f4fa;
  --borders-svg: #afb1b8;
  --time-animation: 250ms;
  --cubik-transform: cubic-bezier(0.4, 0, 0.2, 1);
}

/* общие стили всех страничек */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

._conteiner {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: Roboto;
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.none {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.metamorphosis {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
  text-decoration: none;
}

.metamorphosis:hover,
.metamorphosis:focus {
  color: var(--second-color);
}

._logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #000000;
  display: block;
  margin-right: 93px;
}

.general__button {
  min-width: 200px;
  max-height: 50px;
  color: var(--fon-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.06em;
  align-items: center;
  border-radius: 4px;
  background-color: var(--second-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0px;
}

/* *************стили для шапки на всех страницах************* */
.header {
  border-bottom: 1px solid #eeeeee;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}

/* логотип +ссылки по страницам */
.heder__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder__navigation--logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

._logo span {
  color: #2196F3;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__li + .navigation__li {
  margin-left: 30px;
}

.navigation__li--pages {
  color: #000000;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__li--pages {
  font-weight: 500;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.02em;
}

/* active-alltime обязательно ниже navigation__li--pages */
._active-alltime {
  color: #2196F3;
  position: relative;
}

._active-alltime::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #2196F3;
}

/* ссылки на почту и телефон */
.heder__list-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-adress li + li {
  margin-left: 50px;
}

.list-adress__link--link {
  font-size: 14px;
  line-height: auto;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-adress__link--svg1 {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.list-adress__link--svg2 {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

/* ****************стили для подвала на всех страницах************ */
.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0px;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer ._logo {
  color: #ffffff;
  margin-right: auto;
}

.footer__adress {
  margin-top: 20px;
}

.footer__list-adress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.footer__list-adress li:not(:last-child) {
  margin-bottom: 9px;
}

.footer__list-adress--link {
  color: var(--rgba-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.footer__go-go {
  margin-left: 70px;
}

.footer__go-go--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__go-list .go-list__li--link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer__go-list .go-list__li--link:hover,
.footer__go-list .go-list__li--link:focus {
  background-color: #2196F3;
}

/* стили для третьей колонки подвала */
.footer__sabmit {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-left: 93px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer__form--email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  margin-right: 12px;
  padding: 15px 16px;
  color: #ffffff;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.footer__form--email:hover,
.footer__form--email:focus {
  border: 1px solid #2196F3;
}

.footer__form--icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* стили только для главной странички */
.title2 {
  color: var(--streng-black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: 1.3;
  margin-bottom: 50px;
}

/* общие стили главной странички */
/* основная секция с кнопкой */
.hero {
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--ground-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}

.hero--idea {
  color: var(--fon-color);
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* секция преимуществ */
.we--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.we--puncts {
  -ms-flex-preferred-size: calc(100%/4 - 30px);
      flex-basis: calc(100%/4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.we--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.we--puncts1::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-we);
  background-image: url(../images/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.we--puncts2::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-we);
  background-image: url(../images/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.we--puncts3::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-we);
  background-image: url(../images/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.we--puncts4::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-we);
  background-image: url(../images/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.we--about--text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--p-color);
}

/* секция чем мы заняты*/
.photo {
  padding-bottom: 94px;
}

.pictures--work {
  position: relative;
}

.pictures--work + .pictures--work {
  margin-left: 30px;
}

.pictures--work__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  color: var(--fon-color);
  background: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* секция портретов */
.comando {
  background-color: var(--team-color);
}

.portrets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portrets--card {
  background-color: var(--fon-color);
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  -ms-flex-preferred-size: calc(100%/4 - 30px);
      flex-basis: calc(100%/4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portret--text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.portrets--title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--streng-black);
  margin-bottom: 10px;
}

.profesional {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--p-color);
}

.go-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.go-list__li + .go-list__li {
  margin-left: 10px;
}

.go-list__li--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.go-list__li--link:hover,
.go-list__li--link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.go-list__li--icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* раздел с клиентами */
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-li-svg {
  display: block;
  -ms-flex-preferred-size: calc(100%/6 - 30px);
      flex-basis: calc(100%/6 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.clients-li-svg + .clients-li-svg {
  /* margin-left: 30px; */
}

.clients-link-svg {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--borders-svg);
  border: 1px solid var(--borders-svg);
  border-radius: 4px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.clients-link-svg:hover,
.clients-link-svg:focus {
  color: var(--second-color);
  border-color: var(--second-color);
}

.clients-svg {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* модальное окно на главной страничке */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--fon-color);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal-close:hover .modal--svg {
  fill: var(--second-color);
}

.modal--svg {
  width: 18px;
  height: 18px;
  fill: var(--main-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

/* контент модального окна */
.pleas {
  margin-bottom: 12px;
  color: var(--streng-black);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form--studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--p-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.input--style {
  outline: none;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.input--style:hover,
.input--style:focus {
  border-color: var(--second-color);
}

.input--style:hover ~ svg,
.input--style:focus ~ svg {
  fill: var(--second-color);
}

.form--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.icon--input {
  position: absolute;
  left: 12px;
  top: 28px;
}

.name--label {
  margin-bottom: 4px;
}

.form--coment {
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.form--coment:hover,
.form--coment:focus {
  border-color: var(--second-color);
}

.check--svg {
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 15px;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
  pointer-events: none;
}

.agrey {
  opacity: 1;
}

/* .check{
    display: none;
} */
.check--licensia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
  cursor: pointer;
}

.check--licensia::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.check--licensia:hover::before,
.check--licensia:focus::before {
  border-color: var(--second-color);
}

.check:hover ~ .check--licensia::before,
.check:focus ~ .check--licensia::before {
  border-color: var(--second-color);
}

.licensia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.licensia--text {
  margin-left: 8px;
}

.licensia a {
  text-decoration: underline;
  color: var(--second-color);
}

/* стили только для портфолио */
/* общие стили только этой странички */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* стили для кнопок */
.portfolio--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter {
  padding: 6px 20px;
  background-color: var(--team-color);
  border: 0px;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--streng-black);
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: box-shadow, background-color, color;
  transition-property: box-shadow, background-color, color, -webkit-box-shadow;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.filter:hover,
.filter:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--second-color);
  color: var(--fon-color);
}

.portfolio--filter {
  margin: 0px 4px 0px 4px;
}

.filter-down {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--second-color);
  color: var(--fon-color);
}

/* стилизация ссылок */
.portfolio--works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.sait {
  -ms-flex-preferred-size: calc(100%/3 - 30px);
      flex-basis: calc(100%/3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.sait--hover {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-timing-function: var(--cubik-transform);
          transition-timing-function: var(--cubik-transform);
}

.sait--hover:hover, .sait--hover:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.sait--img {
  position: relative;
  overflow: hidden;
}

.sait--discription {
  position: absolute;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
  height: 100%;
  top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--fon-color);
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: var(--time-animation);
          transition-duration: var(--time-animation);
  -webkit-transition-property: var(--cubik-transform);
  transition-property: var(--cubik-transform);
}

.sait--hover:hover .sait--discription,
.sait--hover:focus .sait--discription {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sait--text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.sait--title {
  color: var(--streng-black);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  margin-bottom: 4px;
}

.sait--tipe {
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */