/* это полезная подготовка перед стилизацией */
/* *************************************************** */
/* общие стили всех страничек */
html{
    box-sizing: border-box;
}
/* по умолчанию центрируем все элементы на сайте */
/* также сбрасывает марджины у заголовков */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
img{
    display: block;
    width: 100%; 
    height: auto; 
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.conteiner{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
 body{
    font-family: Roboto;
    font-style: normal;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* *************************************************** */
/* все цвета на всех страничках */

:root{
    --main-color: #000000;
    --rgba-color: rgba(255,255,255,0.5);
    --streng-black:#212121;
    --p-color: #757575;
    --team-color: #f5f4fa;
    --ground-color: #2f303a;
    --fon-color: #ffffff; 
    --second-color: #2196F3;
    --border-color: #eeeeee;
    --background-we: #f5f4fa;
    --borders-svg: #afb1b8;
    --time-animation: 250ms;
    --cubik-transform: cubic-bezier(0.4, 0, 0.2, 1);
    }


/* *************стили для шапки на всех страницах************* */
/* центруем шапку по горизонтали */
.top{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
/* логотип +ссылки по страницам */
.top--nav{
    display: flex;
    align-items: center;
}
.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: block;
    margin-right: 93px;
}
.top-logo{
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo span{
    color: var(--second-color);
}
.top--nav--pages{
    display: flex;
}
.nav--pages + .nav--pages{
    margin-left: 30px;
}
.notactive{
    color: var(--main-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

/* active-alltime обязательно ниже notactive */
.active-alltime{
    color: var(--second-color);
    position: relative;
}
.active-alltime::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--second-color);
}
.top--nav--pages .hover{
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
    letter-spacing: 0.02em;
}
/* ссылки на телефон */
.top--address{
    display: flex;
    margin-left: auto;
}
.top--address li+li{
    margin-left: 50px;
}
.top--address .hover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: auto;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--p-color);
    padding-top: 32px;
    padding-bottom: 32px;
  
}
.hover{
    transition-property: color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.hover:hover,
.hover:focus{
    color: var(--second-color);
}
.top--address-svg1{
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
}
.top--address-svg2{
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}
.start{
    border-bottom: 1px solid var(--border-color);
}

/* ****************стили для подвала на всех страницах************ */
.bottom--info{
    background-color: var(--ground-color);
    color: var(--fon-color);
    padding: 60px 0px;
    
}
.bottom--info>.conteiner{
    display: flex;
    align-items: baseline;
}
.bottom--info .logo{
    color: var(--fon-color);
}
.adress--city{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
.bottom--address{
    margin-top: 20px;
}
ul .address--write:not(:last-child){
    margin-bottom: 9px;
}
.bottom--address--link{
    color: var(--rgba-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}

.bottom--info .logo{
   margin-right: auto;
}
.go-go{
    margin-left: 70px;
}
.go-go--sabmit{
    flex-grow: 2;
}
.go-go--title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.go-go--list{
    display: flex;
    margin-top: 20px;
}
.go-go-li-svg+.go-go-li-svg{
    margin-left: 10px;
}
.bottom-link-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--fon-color);
    transition-property: background-color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);

}
.bottom-link-svg:hover,
.bottom-link-svg:focus{
    background-color: var(--second-color);
}
.bottom-svg{
    fill: currentColor;
    width: 20px;
    height: 20px;
}
/* стили для третьей колонки подвала */
.botton--form{
    display: flex;
    margin-top: 20px;
}
.bottom--email{
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    width: 100%;
    background-color: transparent;
    margin-right: 12px;
    padding: 15px 16px;
    color: var(--fon-color);
}
.submit-svg{
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
/* стили только для главной странички */
.title2{
    color: var(--streng-black);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.3;
    margin-bottom: 50px;
 }
/* общие стили главной странички */
/* основная секция с кнопкой */
.hero{
    
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--ground-color);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
}
.hero--idea{
    color: var(--fon-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero__button{
    min-width: 200px;
    max-height: 50px;
    color: var(--fon-color);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 28px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.06em;
    align-items: center;
    border-radius: 4px;
    background-color: var(--second-color);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 0px;
}
/* секция преимуществ */
.we--about{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.we--puncts{
    flex-basis: calc(100%/4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}
.we--title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.we--puncts1::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/antenna\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.we--puncts2::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/clock\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.we--puncts3::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/diagram\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.we--puncts4::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/astronaut\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.we--about--text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--p-color);
}
/* секция фотографий*/
.photo{
    padding-bottom: 94px;
}
.pictures--work{
    position: relative;
}
.pictures--work + .pictures--work{
    margin-left: 30px;
}
.pictures--work__about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    color: var(--fon-color);
    background: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.pictures{
    display: flex;
}
/* секция портретов */
.comando{
    background-color: var(--team-color);
}
.portrets{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.portrets--card{
    background-color: var(--fon-color);
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    flex-basis: calc(100%/4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}
.portret--text{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.portrets--title{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--streng-black);
    margin-bottom: 10px;
}
.profesional{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--p-color);
}
.go-go-link-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--fon-color);
    border-radius: 50%;
    color: var(--borders-svg);
    transition-property: color, background-color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.go-go-link-svg:hover,
.go-go-link-svg:focus{
    background-color: var(--second-color);
    color: var(--fon-color);
}
.go-go-svg{
    fill: currentColor;
    width: 20px;
    height: 20px;
}
/* раздел с клиентами */
.clients{
    display: flex;
}
.clients-li-svg{
    display: block;
}
.clients-li-svg+.clients-li-svg{
    margin-left: 30px;
}
.clients-link-svg{
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--borders-svg);
    border: 1px solid var(--borders-svg);
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.clients-link-svg:hover,
.clients-link-svg:focus{
    color: var(--second-color);
    border-color: var(--second-color);
}
.clients-svg{
    fill: currentColor;
    width: 106px;
    height: 60px;
    
}
/* модальное окно на главной страничке */
/* задаю по умолчанию опасити1 чтоб анимировать его при появлении */
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.modal.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;
    padding: 40px;
}
.modal-close{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--fon-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal-close:hover .modal--svg{
    fill: var(--second-color);
}
.modal--svg{
    width: 18px;
    height: 18px;
    fill: var(--main-color);
    transition-property: fill;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
/* контент модального окна */
.pleas{
    margin-bottom: 12px;
    color: var(--streng-black);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}
.form--studio{
    display: flex;
    flex-direction: column;
    color: var(--p-color);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}
.input--style{
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.input--style:hover,
.input--style:focus{
    border-color: var(--second-color);
}
.input--style:hover~svg,
.input--style:focus~svg{
    fill: var(--second-color);
}
.form--input{
    display: flex;
    flex-direction: column;
    position: relative;
}
.icon--input{
    position: absolute;
    left: 12px;
    top: 28px;
}
.name--label{
    margin-bottom: 4px;
}
.form--coment{
    padding: 12px 16px;
    margin-bottom: 20px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.form--coment:hover,
.form--coment:focus{
    border-color: var(--second-color);
}
.check--svg{
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 15px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
    pointer-events: none;
}
.agrey{
    opacity: 1;
}
.check{
    display: none;
}
.check--licensia{
    margin-right: 4px;
}
.border::before{
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin-right: 8px;
}
.border{
    display: flex;
    align-items: center;
}
.licensia{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.licensia--text{
    margin-left: 8px;
}
.licensia a{
    text-decoration: underline;
    color: var(--second-color);
}
/* стили только для портфолио */
/* общие стили только этой странички */
.portfolio{
    display: flex;
    flex-direction: column;
}
/* стили для кнопок */
.portfolio--menu{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter {
    padding: 6px 20px;
    background-color: var(--team-color);
    border: 0px;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--streng-black);
    cursor: pointer;
    transition-property: box-shadow, background-color, color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.filter:hover, .filter:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0,0.12);
    background-color: var(--second-color);
    color: var(--fon-color);
}
.portfolio--filter{
    margin: 0px 4px 0px 4px;
}
.filter-down{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0,0.12);
    background-color: var(--second-color);
    color: var(--fon-color);
}

/* стилизация ссылок */

.portfolio--works{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.sait{
    flex-basis: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

.sait--hover{
    display: block;
    transition-property: box-shadow;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
}
.sait--hover:hover, .sait--hover:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.sait--img{
    position: relative;
    overflow: hidden;
}
.sait--discription{
    position: absolute;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
    height: 100%;
    top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    color: var(--fon-color);
    background: rgba(33, 150, 243, 0.9);
    letter-spacing: 0.03em;
    transform: translateY(101%);
    transition: transform;
    transition-duration: var(--time-animation);
    transition-property: var(--cubik-transform);
}
.sait--hover:hover .sait--discription,
.sait--hover:focus .sait--discription{
    transform: translateY(0);
}
.sait--text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.sait--title{
    color: var(--streng-black);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    margin-bottom: 4px;
}
.sait--tipe{
    color: var(--p-color);
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
