/* это полезная подготовка перед стилизацией */
/* *************************************************** */
/* общие стили всех страничек */
html{
    box-sizing: border-box;
}
/* по умолчанию центрируем все элементы на сайте */
/* также сбрасывает марджины у заголовков */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
img{
    display: block;
    width: 100%; 
    height: auto; 
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.conteiner{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
 body{
    font-family: Roboto;
    font-style: normal;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* *************************************************** */
/* все цвета на всех страничках */

:root{
    --main-color: #000000;
    --rgba-color: rgba(255,255,255,0.5);
    --streng-black:#212121;
    --p-color: #757575;
    --team-color: #f5f4fa;
    --ground-color: #2f303a;
    --fon-color: #ffffff; 
    --second-color: #2196F3;
    --border-color: #eeeeee;
    }


/* *************стили для шапки на всех страницах************* */
/* центруем шапку по горизонтали */
.top{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
/* логотип +ссылки по страницам */
.top--nav{
    display: flex;
    align-items: center;
}
.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: block;
    margin-right: 93px;
}
.logo span{
    color: var(--second-color);
}
.top--nav--pages{
    display: flex;
}
.nav--pages + .nav--pages{
    margin-left: 30px;
}
.notactive{
    color: var(--main-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* active-alltime обязательно ниже notactive */
.active-alltime{
    color: var(--second-color);
}
.top--nav--pages .hover{
    font-weight: 500;
}
/* ссылки на телефон */
.top--address{
    display: flex;
    margin-left: auto;
}
.top--address li+li{
    margin-left: 50px;
}
.top--address .hover{
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--p-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.hover:hover, .hover:focus{
    color: var(--second-color);
}
.start{
    border-bottom: 1px solid var(--border-color);
}
/* ****************стили для подвала на всех страницах************ */
.bottom--info{
    background-color: var(--ground-color);
    color: var(--fon-color);
    padding: 60px 0px;
}
.bottom--info .logo{
    color: var(--fon-color);
}
.adress--city{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
.bottom--address{
    margin-top: 20px;
}
ul .address--write:not(:last-child){
    margin-bottom: 9px;
}
.bottom--address--link{
    color: var(--rgba-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
.hover:hover, .hover:focus{
    color: var(--second-color);
}
/* никому не мешал марджин правый но можно и убрать */
.bottom--info .logo{
   margin-right: auto;
}
/* стили только для главной странички */
.title2{
    color: var(--streng-black);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.3;
    margin-bottom: 50px;
 }
/* общие стили главной странички */
/* основная секция с кнопкой */
.hero{
    width: 1600px;
    background: url(../images/hero.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
}
.hero--idea{
    color: var(--fon-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero__button{
    width: 200px;
    height: 50px;
    color: var(--fon-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.06em;
    align-items: center;
    border-radius: 4px;
    background-color: var(--second-color);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 0px;
}
/* секция преимуществ */
.we--about{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.we--puncts{
    flex-basis: calc(100%/4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}
.we--title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.we--about--text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--p-color);
}
/* секция фотографий*/
.photo{
    padding-bottom: 94px;
}
.pictures--work + .pictures--work{
    margin-left: 30px;
}
.pictures{
    display: flex;
}
/* секция портретов */
.comando{
    background-color: var(--team-color);
}
.portrets{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-left: -30px;
}

.portrets--card{
    background-color: var(--fon-color);
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    flex-basis: calc(100%/4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}
.portret--text{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.portrets--title{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--streng-black);

}
.profesional{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--p-color);
}

/* стили только для портфолио */
/* общие стили только этой странички */
.portfolio{
    display: flex;
    flex-direction: column;
}
/* стили для кнопок */
.portfolio--menu{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter {
    padding: 6px 20px;
    background-color: var(--team-color);
    border: 0px;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--streng-black);
    cursor: pointer;
}
.portfolio--filter{
    margin: 0px 4px 0px 4px;
}
.filter-down{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0,0.12);
    background-color: var(--second-color);
    color: var(--fon-color);
}
.portfolio--menu button:hover, .portfolio--menu button:focus{
    background-color: var(--second-color);
    color: var(--fon-color);
}

/* стилизация ссылок */

.portfolio--works{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.sait{
    flex-basis: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

.sait--hover{
    display: block;
}
.sait--hover:hover, .sait--hover:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 5px;
}
.sait--text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.sait--title{
    color: var(--streng-black);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    margin-bottom: 4px;
}
.sait--tipe{
    color: var(--p-color);
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
