
// ******************************************************************************************************
.footer{
    background-color: $color-baground;
    color: $color-lite-text;
    padding: 60px 0px;
}
.footer__conteiner{
    text-align: center;
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        text-align: left;
    }
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
    }
}
.footer__conteiner--tablet{
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
    }
    
}
.footer__conteiner--mardgin{
        margin-bottom: 60px;
        @media screen and (min-width: 768px){
            margin-bottom: 0px;
        }
    }
   
// первая колонка
.footer ._logo{
    color: $color-lite-text;
    // margin-right: auto;
}
.footer__adress{
    margin-top: 20px;
    
}
.footer__list-adress{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
.footer__list-adress li:not(:last-child){
    margin-bottom: 9px;
}
.footer__list-adress-link{
    color: $rgba-adress;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
// вторая колонка
.footer__go-go{
    margin-left: 0px;
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}
.footer__go-go-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
// берем готовые стили из файла go-go и меняем только некоторые для подвала
.footer__go-list .go-list__link{
    background-color: $rgba-bacground;
    color: $color-lite-text;
    &:hover,&:focus{
        background-color: $color-style;
    }
}
// /* стили для третьей колонки подвала */
.footer__sabmit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__form{
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        display: flex;
    }
    // flex-wrap: wrap;
    // justify-content: center;
    // margin-top: 20px;
}
.footer__form-email{
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
    background-color: transparent;
    padding: 15px 16px;
    color: $color-lite-text;
    outline: none;
    transition-property: border;
    transition-duration: $time-animation;
    transition-timing-function: $cubik-transform;
    &:hover,&:focus{
        border: 1px solid $color-style;
    }
    
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 358px;
        margin-right: 12px;
    }
}
// ************стиль иконки*****************
.footer__form-icon{
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}