.header{
    border-bottom: 1px solid  $color-border-heder;
}
.header__conteiner{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
/* логотип +ссылки по страницам */
.heder__navigation{
    display: flex;
    align-items: center;
}
.heder__navigation--logo{
    padding-top: 24px;
    padding-bottom: 24px;
}
._logo span{
    color: $color-style;
}
.navigation__list{
    display: flex;
}
.navigation__li + .navigation__li{
    margin-left: 30px;
}
.navigation__li--pages{
    color: $general-text;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation__li--pages{
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
    letter-spacing: 0.02em;
}
/* active-alltime обязательно ниже navigation__li--pages */
// подчеркивание ссылки текущей страницы
._active-alltime{
    color: $color-style;
    position: relative;
}
._active-alltime::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: $color-style;
}
/* ссылки на почту и телефон */
.heder__list-address{
    display: flex;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-adress li+li{
    margin-left: 50px;
}
.list-adress__link--link{
    font-size: 14px;
    line-height: auto;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $color-paragraph;
    padding-top: 32px;
    padding-bottom: 32px;
}
// стилизация свг
.list-adress__link--svg1{
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
}
.list-adress__link--svg2{
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}
