.whats-up{
    padding-bottom: 94px;
}
.whats-up__li{
    position: relative;
}
.whats-up__li + .whats-up__li{
    margin-left: 30px;
}
.whats-up__li--about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    color: $color-lite-text;
    background: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.whats-up__list{
    display: flex;
}