.hero{
    
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--ground-color);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
}
.hero--idea{
    color: var(--fon-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero__button{
    min-width: 200px;
    max-height: 50px;
    color: var(--fon-color);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 28px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.06em;
    align-items: center;
    border-radius: 4px;
    background-color: var(--second-color);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 0px;
}