.hero{
    
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--ground-color);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
}
.hero--idea{
    color: var(--fon-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
