// .comando{
//     background-color: $color-bagraund_section;
// }
// .comando__list{
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: -30px;
//     margin-left: -30px;
// }
// .comando__card{
//     background-color: $color-fon_cards;
//     text-align: center;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//     border-radius: 5px;
//     flex-basis: calc(100%/4 - 30px);
//     margin-top: 30px;
//     margin-left: 30px;
// }
// .comando__caption{
//     padding-top: 30px;
//     padding-bottom: 30px;
//     padding-left: 30px;
//     padding-right: 30px;
// }
// .comando__caption--title{
//     display: block;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.3;
//     letter-spacing: 0.03em;
//     color: $color-text_cards;
//     margin-bottom: 10px;
// }
// .comando__caption--profesional{
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 1.5;
//     letter-spacing: 0.03em;
//     color: $color-paragraph;
// }
// *********************************************************************************************

.comando{
    background-color: $color-bagraund_section;
}
.comando__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.comando__card{
    background-color: $color-fon_cards;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    flex-basis: calc(100%/1 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    @media screen and (min-width: 768px) {
        flex-basis: calc(100%/2 - 30px);
    }
    @media screen and (min-width: 1200px){
        flex-basis: calc(100%/4 - 30px);
    }
}
.comando__caption{
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
    @media screen and (min-width: 1200px){
        padding-bottom: 30px;
    }
}