.we--about{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.we--puncts{
    flex-basis: calc(100%/4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}
.we--title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.we--puncts1::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.we--puncts2::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.we--puncts3::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/diagram.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.we--puncts4::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-we);
    background-image: url(../images/astronaut.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.we--about--text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--p-color);
}