*,
*::before,
*::after {
  box-sizing: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
img{
    display: block;
    width: 100%; 
    height: auto; 
}
li{
    list-style-type: none;
}
._conteiner{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
 body{
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.none{
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
}
html{
    box-sizing: border-box;
}
.metamorphosis{
    transition-property: color;
    transition-duration: $time-animation;
    transition-timing-function: $cubik-transform;
    text-decoration: none;
    &:hover,
    &:focus{
    color: $color-style;
    }
}
._main--title2{
    color: $color-text_cards;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.3;
    margin-bottom: 50px;
 }