:root{
    --main-color: #000000;
    --rgba-color: rgba(255,255,255,0.5);
    --streng-black:#212121;
    --p-color: #757575;
    --team-color: #f5f4fa;
    --ground-color: #2f303a;
    --fon-color: #ffffff; 
    --second-color: #2196F3;
    --border-color: #eeeeee;
    --background-we: #f5f4fa;
    --borders-svg: #afb1b8;
    --time-animation: 250ms;
    --cubik-transform: cubic-bezier(0.4, 0, 0.2, 1);
    }