
// цвета
$color-style: #2196F3;
$color-paragraph: #757575;
$general-text: #000000;
$color-border-heder: #eeeeee;
$color-main_icon: #afb1b8;
$color-baground: #2f303a;
$color-lite-text: #ffffff;
$color-bagraund_section: #f5f4fa;
$color-fon_cards: #ffffff;
$color-text_cards:#212121;
$color-icon_partners:#afb1b8;
// цвета с прозрачностью
$rgba-adress: rgba(255,255,255,0.5);
$rgba-bacground:rgba(255, 255, 255, 0.1);
// анимации
$time-animation: 250ms;
$cubik-transform: cubic-bezier(0.4, 0, 0.2, 1);
// значения
$best: 'antenna', 'clock', 'diagram', 'astronaut';